body {
  font-family: Arial, Helvetica, sans-serif;
}
.Weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.Weather .overview {
  margin-bottom: 20px;
}
.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-app {
  padding: 25px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.btn {
  color: #3280c9;
  background-color: #ffff;
}
h1,
h2 {
  color: #143e75;
  line-height: 28px;
  font-size: 30px;
  font-weight: 100;
}
h2 {
  margin-top: 15px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  color: #3280c9;
}
li {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.Weather .weather-temperature strong {
  color: #143e75;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: #143e75;
}
.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -16px;
}
.Weather .weather-forecast {
  text-align: center;
  margin-top: 10px;
}
.Weather .weather-forecast h3 {
  color: #2c4b72;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
.Weather .weather-forecast-temperature {
  font-size: 15px;
  color: #2c4b72;
}
