body {
  font-family: Arial, Helvetica, sans-serif;
}
.Weather {
  margin: 20px;
  padding: 20px 16px 24px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.Weather .overview {
  margin-bottom: 20px;
}
.btn {
  color: #3280c9;
  background-color: #ffff;
}
h1,
h2 {
  color: #143e75;
  line-height: 28px;
  font-size: 30px;
  font-weight: 100;
}
h2 {
  margin-top: 15px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  color: #3280c9;
}
li {
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.Weather .weather-temperature strong {
  color: #143e75;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: blue;
  margin-left: 22px;
}
